@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}
 
 body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.l-heading{
    color: #fff;
    font-family: 'Give You Glory', cursive;
    font-size: 4rem;
    font-weight: 500;
}

.lead{
    font-size: 2rem;
    font-weight: 300;
}

.showcase-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/grad.img.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 2rem;
    color: #fff;
}

.container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

h1, h2 {
    color: #333;
}

/* form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} */

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} 

button[type="submit"] {
    text-align: center;
}


/* footer */
.footer{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid #4CAF50;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/grad.img.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.footer-bottom{
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

a{
    color: #fff;
}

/* .important-links{

    width: 30%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
} */

.important-links a{
   border-right: 2px solid #45a049;
    padding-right: 1rem;
}

/* remove border right on the last child */
.important-links a:last-child{
    border-right: none;
    padding-right: 0;
}

.important-links a:hover{
    color: #4CAF50;
}



/* testimonials */

.testimonials-header{
    text-align: center;
    margin: 2rem 0;
    margin-top: 4rem;

}

.testimonials p{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: center;
}


img{
    height: 200px;
    border-radius: 8px;
    transform: scale(1.5);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.corousel{
    background-color: #087f5b;
    width: 800px;
    margin: 100px auto;
    border-radius: 8px;
    color: #fff;
    padding: 32px 48px 32px 86px;
    position: relative;

    display: flex;
    align-items: center;
    gap: 86px;
}

.testimonial-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 32px;
}

.testimonial-author{
    font-size: 14px;
    margin-bottom: 4px;
}

.testimonial-job{
    font-size: 12px;
}

/* controls */
.btn{
    background-color: #fff;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .2);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fa{
    color: #087f5b;
}

.btn--left{
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn--right{
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}


/* dots */
/* .dots{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 32px);

    display: flex;
    gap: 12px;

} */

/* .dot{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #087f5b;
    border-radius: 50%;
    cursor: pointer;
} */

.dot--fill{
    background-color: #087f5b;
}